<ion-toolbar id="header2">
    <div class="toolbar-container">
        <ion-icon name="reorder-three-outline" class="burger" (click)="goToMenu()"></ion-icon>
        <div class="iconShopping">
            <p>0</p>
            <ion-icon name="cart-outline" class="cartIcon"></ion-icon>
        </div>
        <ion-title>SEED</ion-title>
        <div class="btn--wrapper">
            <button class="btn-sousmenu" (click)="goToGraine()">Graines</button>
            <button class="btn-sousmenu" (click)="goToMateriel()">Matériel</button>
        </div>
    </div>
</ion-toolbar>

<ion-content>


    <div class="materiel">
        <div *ngFor="let addElem of array; let i = index;" class="plante" (click)="goToGraineSingle()">
            <img [src]='addElem.url'/>
            <p>{{addElem.titre}}</p>
        </div>
    </div>

    <div class="cartBox">
        <div class="cart">
            <ion-toolbar id="header">
                <div class="toolbar-container">
                    <ion-icon name="close-outline" class="fa fa-close arrow"></ion-icon>
                    <ion-title>MON PANIER</ion-title>
                </div>
            </ion-toolbar>
            <table></table>
        </div>
    </div>

</ion-content>
