<ion-toolbar id="header">
  <div class="toolbar-container">
    <ion-icon name="reorder-three-outline" class="burger"></ion-icon>
    <ion-icon name="search-outline" class="loupe"></ion-icon>
    <ion-title>SEED</ion-title>
    <div class="btn--wrapper">
      <button class="btn-sousmenu">Graines</button>
      <button class="btn-sousmenu">Matériel</button>
    </div>
  </div>
</ion-toolbar>

<ion-content>
  <div class="materiel">
  <div class="materiel2">
    <img src="../../assets/radis.png">
    <h3>Radis</h3>
  </div>
  <div class="materiel2">
    <img src="../../assets/fenouille.png">
    <h3>Fenouille</h3>
  </div>
  <div class="materiel2">
    <img src="../../assets/courge.png">
    <h3>Courge</h3>
  </div>
  <div class="materiel2">
    <img src="../../assets/carotte.png">
    <h3>Carotte</h3>
  </div>
  <div class="materiel2">
    <img class="poivron" src="../../assets/poivron.png">
    <h3>Poivron</h3>
  </div>
  <div class="materiel2">
    <img src="../../assets/pomme%20de%20terre.png">
    <h3> Pomme de Terre</h3>
  </div>
  <div class="materiel2">
    <img src="../../assets/salade.png">
    <h3>Salade</h3>
  </div>
  <div class="materiel2">
    <img src="../../assets/tomate.png">
    <h3>Tomate</h3>
  </div>
  <div class="materiel2">
    <img src="../../assets/radis.png">
    <h3>Radis</h3>
  </div>
  <div class="materiel2">
    <img src="../../assets/fenouille.png">
    <h3>Fenouille</h3>
  </div>
  <div class="materiel2">
    <img src="../../assets/courge.png">
    <h3>Courge</h3>
  </div>
  <div class="materiel2">
    <img src="../../assets/carotte.png">
    <h3>Carotte</h3>
  </div>
  <div class="materiel2">
    <img src="../../assets/poivron.png">
    <h3>Poivron</h3>
  </div>
  <div class="materiel2">
    <img src="../../assets/pomme%20de%20terre.png">
    <h3> Pomme de Terre</h3>
  </div>
  </div>
</ion-content>
