<ion-content>

  <div class="img">
    <ion-icon class="fl" name="arrow-back-outline"></ion-icon>
    <img src="../../assets/sécateur.png">
  </div>

  <div class="selecteur">
    <div class="selecteur2">
      <h4>Radis</h4>
      <h5>2€</h5>
    </div>
    <ion-item>
      <ion-select value="1" okText="Choisir" cancelText="Annuler">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="9">9</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
      </ion-select>
    </ion-item>
  </div>


  <p>Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Pellentesque aliquam aliquet
    odio, sed feugiat turpis ultricies ut. Donec
    tincidunt vestibulum libero quis suscipit. Nam
    et mollis nunc, et porttitor neque. Etiam
    dictum urna arcu, rutrum rutrum tellus.</p>
  <button class="cta">Commander</button>
</ion-content>

