<ion-toolbar id="header">
  <div class="toolbar-container">
    <ion-icon name="arrow-back-outline" (click)="goToInformations()"></ion-icon>
    <ion-title>MON MOT DE PASSE</ion-title>
  </div>
</ion-toolbar>

<ion-content>
  <ion-item class="mdp">
    <ion-label position="floating">MOT DE PASSE ACTUEL</ion-label>
    <ion-input [(ngModel)]="test"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">NOUVEAU MOT DE PASSE</ion-label>
    <ion-input [(ngModel)]="test"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">CONFIRMATION MOT DE PASSE</ion-label>
    <ion-input [(ngModel)]="test"></ion-input>
  </ion-item>
  <br>
  <br>
  <button class="cta">GERER MON MOT DE PASSE</button>
</ion-content>
