.img {
  height: 466px;
  background-color: #CCBF7E;
  text-align: center;
}

.fl {
  position: absolute;
  top: 17px;
  left: 11px;


  font-size: 30px;
  color: #40743C;
}

img{
  margin-top: 100px;
}

h4, h5, p {
  margin-left: 22px;
  margin-right: 22px;
  text-align: justify;
}

.cta {
  color: #fff;
  background-color: #40743C;
  font-size: 18px;
  font-weight: bold;
  margin-left: 22px;
  width: 331px;
  height: 38px;
}

.selecteur {
  display: flex;
}

.selecteur2 {

  position: absolute;
  top: 480px;
  left: 274px;
  text-align: center;

  display: block;

}

ion-item{
  width: 32%;
  margin-left: 140px;
  margin-top: 15px;
}

ion-select{
  position: absolute;
  right: 40px;
}
.item-inner{
  padding-inline-end: 0;
}
