

/** HEADER **/

#header {
  height: 100px;
  box-shadow: 0 0 8px 0 grey;
}

.toolbar-container {
  height: 100px;
  background-color: #40743C;
}

ion-title {
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 5px;
  font-weight: normal;
  color: #ffffff;
}

.arrow{
  font-size: 30px;
  position: absolute;
  left: 20px;
  top: 10px;
  color: #ffffff;
}

.btn-sousmenu {
  color: #40743C;
  background-color: #ffffff;
  height: 70px;
  width: 50%;
  padding-top: 10px;
  font-size: 22px;
}

.btn--wrapper {
  padding-top: 95px;
}

/* BODY */

.img {
  height: 466px;
  background-color: #CCBF7E;
  text-align: center;
}

.fl {
  position: absolute;
  top: 17px;
  left: 11px;


  font-size: 30px;
  color: #40743C;
}

img {
  margin-top: 100px;
}

h1,h4, h5, p {
  margin-left: 22px;
  margin-right: 22px;
  text-align: justify;
}
P{
  margin: 30px 22px 30px 22px;
}

.prix{
  margin-top: 10px;
}

.cta {
  color: #fff;
  background-color: #40743C;
  font-size: 18px;
  font-weight: bold;
  margin-left: 22px;
  padding: 10px 115px;
  margin-top: 10px;
}

.selecteur {
position: absolute;
  top: 60%;
}



hr {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 0;
  border: 1px solid #40743C;
  color: #0d0d0d;
  opacity: 1;
}

ion-item {
  width: 32%;
  margin-left: 230px;
  margin-top: 15px;
}

ion-icon {
  font-size: 20px;
  padding-top: 8px;
}

ion-select {
  position: absolute;
  right: 40px;
}

.selecteur p {
  padding: 5px 0 0 6px;
  margin-right: 10px;
}

.item-inner {
  padding-inline-end: 0;
}


/*cart box*/
.cartBox{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  transition: 0.3s linear;
  transform: scale(0);
}
.cartBox.active{
  transform: scale(1);
}
.cartBox .cart{
  position: relative;
  height: 100%;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

th{
  color: #40743C;
}
table{
  width: 80%;
  margin-top: 30px;
}


/* ICON */

.iconShopping{
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 40px;
}

.iconShopping p{
  position: absolute;
  top: -5px;
  right: -35px;
  padding: 5px 5px;
  font-size: 16px;

}

.cartIcon{
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 30px;
}
