/** BODY **/

ion-icon {
  font-size: 45px;
  position: absolute;
  left: 20px;
  top: 30px;
  color: #ffffff;
}


.wrapper{
  background: #40743C;
  height: 100vh;
  width: 100vw;
}

ul{

  list-style: none;
  text-align: center;
  font-size: 30px;
  color: #fff;
  padding: 140px 0 0 0;

}

li{
  padding: 15px 0;
}
