<ion-toolbar id="header">
  <div class="toolbar-container">
    <ion-icon name="arrow-back-outline" class="arrow"></ion-icon>
    <ion-title>MON COMPTE</ion-title>
  </div>
</ion-toolbar>
<ion-content>
  <div class="wrapper">
    <div>
      <ion-icon name="basket-outline" class="commande"></ion-icon>
      <p>Mes commandes</p>
    </div>
    <div>
      <ion-icon name="create-outline" class="info"></ion-icon>
      <p>Mes informations</p>
    </div>
    <div>
      <ion-icon name="card-outline" class="paiement"></ion-icon>
      <p>Modes de paiement</p>
    </div>
    <div>
      <ion-icon name="lock-closed-outline" class="motdepasse"></ion-icon>
      <p>Gérer mon mot de passe</p>
    </div>
    <hr>
    <div>
      <ion-icon name="help-circle-outline" class="aide"></ion-icon>
      <p class="aide-txt">Besoin d'aide ?</p>
    </div>
    <br>
    <br>
    <button class="cta">DECONNEXION</button>
  </div>
</ion-content>
