/** HEADER **/

#header {
  height: 164px;
  box-shadow: 0 0 8px 0 grey;
}

.toolbar-container {
  height: 164px;
  background: #40743C;
}

ion-title {
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 5px;
  font-weight: normal;
  color: #ffffff;
}

ion-icon {
  color: #ffffff;
  font-size: 30px;
}

.burger {
  font-size: 40px;
  position: absolute;
  left: 20px;
  top: 10px;
}

.loupe {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.btn-sousmenu {
  color: #40743C;
  background-color: #ffffff;
  height: 70px;
  width: 50%;
  padding-top: 10px;
  font-size: 22px;


}

.btn--wrapper {
  padding-top: 95px;
}

h3 {
  text-align: center;
  color: #40743C;
  padding-top: 30px;
}

hr {
  top: 293px;
  left: 81px;
  width: 215px;
  height: 1px;
  background-color: #40743C;
  opacity: 1;
  margin-bottom: 30px;
}

img {
  margin-left: 28px;
  padding-bottom: 10px;
}

.text {
  display: flex;
}

h5, p {
  text-align: justify;
}

h5 {
  margin-left: 25px;
  color: #40743C;
}

p {

  text-align: left;
  font: Light 16px/18px Helvetica Neue;
  letter-spacing: 0px;
  color: #40743C;
  margin-left: 115px;
}

.plante{
  padding-bottom: 30px;
}
