<ion-toolbar id="header">
  <div class="toolbar-container">
    <ion-icon name="arrow-back-outline" (click)="goToAccueil()"></ion-icon>
    <ion-title>MON COMPTE</ion-title>
  </div>
</ion-toolbar>

<ion-content>
  <h2>Se connecter avec une adresse e-mail</h2>
  <ion-item>
    <ion-label position="floating">ADRESSE E-MAIL</ion-label>
    <ion-input [(ngModel)]="test"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">MOT DE PASSE</ion-label>
    <ion-input [(ngModel)]="test"></ion-input>
  </ion-item>
  <br>
  <br>
  <button class="cta">CONNEXION</button>
  <p class="mdp" (click)="goToMDP()">Mot de passe oublié ?</p>
  <hr>
  <p class="compte">Pas de compte ?</p>
  <h3 (click)="goToInscription()">INSCRIVEZ-VOUS</h3>
</ion-content>
