<ion-toolbar id="header">
  <div class="toolbar-container">
    <ion-icon name="arrow-back-outline" (click)="goToInformations()"></ion-icon>
    <ion-title>MES COMMANDES</ion-title>
  </div>
</ion-toolbar>

<ion-content>
  <div class="wrapper">
    <h2>COMMANDE ENVOYÉE !</h2>
    <p class="livraison">Livraison estimée entre le 16 et le 18 mai</p>
    <p class="numero">N° de commande: 784563</p>
    <p class="date">Date d’expédition: 14 mai</p>
    <img class="carotte" src="../../assets/carotte.png" alt="">
    <img class="poivron" src="../../assets/poivron.png" alt="">
    <p class="goTo" (click)="goToCommandeDetail()">VOIR</p>
  </div>
</ion-content>
