:root {
  /** primary **/
  --ion-color-primary: #40743C;
}

/** HEADER **/

#header {
  height: 100px;
  box-shadow: 0 0 8px 0 grey;
}

.toolbar-container {
  height: 100px;
  background-color: #40743C;
}

ion-title {
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 5px;
  font-weight: normal;
  color: #ffffff;
}

ion-icon {
  font-size: 30px;
  position: absolute;
  left: 20px;
  top: 10px;
  color: #ffffff;
}

.btn-sousmenu {
  color: #40743C;
  background-color: #ffffff;
  height: 70px;
  width: 50%;
  padding-top: 10px;
  font-size: 22px;
}

.btn--wrapper {
  padding-top: 95px;
}

/** BODY **/
.wrapper {
  background-color: #CCBF7E;
  height: 330px;
}
h2{
  display: flex;
  font-size: 18px ;
  color: #40743C;
  margin: 0;
  padding: 40px 0 5px 30px;
}

p {
  color: #40743C;
  font-size: 16px;
  margin-left: 30px;
  margin-bottom: 7px;
  font-weight: lighter;
}
.livraison{
  color: #ffffff;
  font-weight: bold;
}

.goTo{
  padding-top: 35px;
  font-size: 18px;
  font-weight: bold;
}

img{
  padding-top: 25px;
}

.carotte {
  height: 90px;
  width: auto;
  padding-left: 30px;
}

.poivron {
  height: 65px;
  width: auto;
  padding-left: 20px;
}






