
/** HEADER **/

#header {
  height: 100px;
  box-shadow: 0 0 8px 0 grey;
}

.toolbar-container {
  height: 100px;
  background-color: #40743C;
}

ion-title {
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 5px;
  font-weight: normal;
  color: #ffffff;
}

ion-icon {
  font-size: 30px;
  position: absolute;
  left: 20px;
  top: 10px;
  color: #ffffff;
}

.btn-sousmenu {
  color: #40743C;
  background-color: #ffffff;
  height: 70px;
  width: 50%;
  padding-top: 10px;
  font-size: 22px;
}

.btn--wrapper {
  padding-top: 95px;
}

/** BODY **/
h2{
  display: flex;
  justify-content: center;
  font-size: 18px ;
  color: #40743C;
  padding: 50px 0 40px 0;
  text-align: center;
}
ion-item{
  padding: 0 50px;
  color: #CCBF7E;
}
ion-input{
  color: #CCBF7E;
  padding: 0 50px;
}
ion-label{
  color: #CCBF7E;
}
ion-label:active{
  color: #CCBF7E;
}

p{
  color: #40743C;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.cta {
  color: #fff;
  background-color: #40743C;
  height: 40px;
  width: 275px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 40px;
}
ion-checkbox{
  margin-left: 50px;
  color: #40743C;
  margin-top: 15px;
}
.check{
  font-size: 13px;
  display: flex;
  color: #40743C;
  width: 70%;
  position: absolute;
  right: 15px;
  bottom: 150px;
}
