<ion-toolbar id="header">
  <div class="toolbar-container">
    <ion-icon name="arrow-back-outline" (click)="goToCompte()"></ion-icon>
    <ion-title>MON COMPTE</ion-title>
  </div>
</ion-toolbar>

<ion-content>
  <h2>INSCRIVEZ_VOUS A L'AIDE DE VOTRE ADRESSE E-MAIL</h2>
  <ion-item>
    <ion-label position="floating">ADRESSE E-MAIL</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <br>

  <ion-item>
    <ion-label position="floating">MOT DE PASSE</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <br>
  <ion-checkbox></ion-checkbox>
  <ion-label class="check">Accepter nos conditions et politique de confidentialité</ion-label>
  <br>
  <br>
  <button (click)="register()" class="cta">CREER MON COMPTE</button>
</ion-content>
