<ion-toolbar id="header2">
    <div class="toolbar-container">
        <ion-icon name="reorder-three-outline" class="burger" (click)="goToMenu()"></ion-icon>
        <div class="iconShopping">
            <p>0</p>
            <ion-icon name="cart-outline" class="cartIcon"></ion-icon>
        </div>
        <ion-title>SEED</ion-title>
        <div class="btn--wrapper">
            <button class="btn-sousmenu" (click)="goToGraine()">Graines</button>
            <button class="btn-sousmenu" (click)="goToMateriel()">Matériel</button>
        </div>
    </div>
</ion-toolbar>

<ion-content>

    <div class="slider">
        <h2>Top de vente</h2>
        <hr>
    </div>

    <div class="top">
        <img src="../../assets/fenouille.png" class="imageSlider" alt="...">
        <p>Graine de fenouil</p>
    </div>

    <div class="toProduct">
        <img src="../../assets/toProduct.png" alt="">
        <div class="toProduct--wrapper">
            <h3>UN LÉGUME ÇA NE POUSSE PAS TOUT SEUL.</h3>
            <p>Terreaux, billes d’argiles, arroseurs : nous avons ce qu’il vous faut !</p>
            <button class="cta" (click)="goToMateriel()">Voir les produits</button>
        </div>
    </div>

    <div class="toTips">
        <h3>LES LÉGUMES
            QUI S’ENTENDENT BIEN.</h3>
        <p>Radis avec kiwi, on oubli.</p>
        <button class="cta" (click)="goToTips()">Ce qu’il faut savoir </button>
    </div>

    <img src="../../assets/separator.png" class="separator">

    <div class="livraison">
        <img src="../../assets/truck.png" alt="">
        <p>Délais de livraison :
            3 - 5 jours ouvrés</p>
    </div>

    <div class="cartBox">
        <div class="cart">
            <ion-toolbar id="header">
                <div class="toolbar-container">
                    <ion-icon name="close-outline" class="fa fa-close arrow"></ion-icon>
                    <ion-title>MON PANIER</ion-title>
                </div>
            </ion-toolbar>
            <table></table>
        </div>
    </div>

</ion-content>
