<ion-toolbar id="header">
    <div class="toolbar-container">
        <ion-icon name="reorder-three-outline" class="burger"></ion-icon>
        <ion-icon name="search-outline" class="loupe"></ion-icon>
        <ion-title>SEED</ion-title>
        <div class="btn--wrapper">
            <button class="btn-sousmenu">Graines</button>
            <button class="btn-sousmenu">Matériel</button>
        </div>
    </div>
</ion-toolbar>

<ion-content>

    <div class="slider">
        <h2>Top de vente</h2>
        <hr>
    </div>

    <div class="top">
        <img src="../../assets/fenouille.png" class="imageSlider" alt="...">
        <p>Graine de fenouil</p>
    </div>

    <div class="toProduct">
        <img src="../../assets/toProduct.png" alt="">
        <div class="toProduct--wrapper">
            <h3>UN LÉGUME ÇA NE POUSSE PAS TOUT SEUL.</h3>
            <p>Terreaux, billes d’argiles, arroseurs : nous avons ce qu’il vous faut !</p>
            <button class="cta">Voir les produits</button>
        </div>
    </div>

    <div class="toTips">
        <h3>LES LÉGUMES
            QUI S’ENTENDENT BIEN.</h3>
        <p>Radis avec kiwi, on oubli.</p>
        <button class="cta">Ce qu’il faut savoir </button>
    </div>

    <img src="../../assets/separator.png" class="separator">

    <div class="livraison">
        <img src="../../assets/truck.png" alt="">
        <p>Délais de livraison :
            3 - 5 jours ouvrés</p>
    </div>

</ion-content>
