<ion-toolbar id="header">
  <div class="toolbar-container">
    <ion-icon name="arrow-back-outline" (click)="goToInformations()"></ion-icon>
    <ion-title>MES MODES DE PAIEMENT</ion-title>
  </div>
</ion-toolbar>

<ion-content>
  <div class="wrapper">
    <ion-icon name="trash-outline" class="bin"></ion-icon>
    <img src="../../assets/symbols.png" alt="">
    <p class="top">**** **** **** 7504</p>
    <p>Exp: 05/21</p>
  </div>
  <button class="cta" (click)="goToAjoutCarte()">AJOUTER UNE CARTE</button>
</ion-content>
