<ion-toolbar id="header">
    <div class="toolbar-container">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-title>MES COMMANDES</ion-title>
    </div>
</ion-toolbar>

<ion-content>
    <h2>COMMANDE ENVOYÉE !</h2>
    <p class="livraison">Livraison estimée entre le 16 et le 18 mai</p>
    <p class="numero">N° de commande: 784563</p>
    <p class="date">Date d’expédition: 14 mai</p>
    <p class="article">2 articles</p>

    <div class="graine">
        <img class="carotte" src="../../assets/carotte.png" alt="">
        <div class="graine--wrapper">
            <p class="name">Carotte</p>
            <p class="prix">1.5 €</p>
            <p class="quantit">Qté : 2</p>
        </div>
    </div>

    <div class="graine graine2">
        <img class="poivron" src="../../assets/poivron.png" alt="">
        <div class="graine--wrapper">
            <p class="name">Poivron</p>
            <p class="prix">4 €</p>
            <p class="quantit">Qté : 1</p>
        </div>
    </div>

    <h2 class="commande">TOTAL DE LA COMMANDE</h2>
    <div class="prix--wrapper">
        <p>Sous-total</p>
        <p class="prixTotal">5.5€</p>
    </div>
    <div class="prix--wrapper">
        <p>livraison</p>
        <p class="prixTotal">GRATUITE</p>
    </div>
    <hr>
    <div class="prix--wrapper total">
        <p class="prixTotal2">TOTAL:</p>
        <p class="prixTotal ">5.5€</p>
    </div>

</ion-content>
